body{
    background-image: url("../../assets/images/SatelliteEarth.jpg");
    background-repeat: no-repeat;
    color: white;
}
.font-shadowLight{font-family: 'Shadows Into Light', cursive;}
.width100{max-width:100%; max-height:100% auto;}
.max500{max-width: 700px auto;}
.opaque{opacity:.5;}
input[type="text"]{
    background: transparent;
    border: 1 white solid;
    outline: none;
}
::placeholder {
    font-family: 'Shadows Into Light', cursive;
}
input[type=text]:focus {
    background: transparent;
}
backgroundImg{position:fixed;}

.anyClass { height:150px; overflow-y: scroll; }
.sansSerif  {font-family: sans-serif;}
#map{
    width:60%;
    height: 60%;
    visibility: visible;
    background: purple;
}

.dropDown {
   padding: 0px;
    width: 100%;
}
.test1 {
    display: none; 
    padding: 0px;
    pointer-events: none;
}
li {
    list-style-type: none;
}
ul.content {
    padding: 0px;
}
.dropDown:hover .test1 {
    display: inline-block;
}
.dropDown:hover .test1:active {
    display: none;
}
a {
    pointer-events: auto;
    color: lime;
    font-weight: bold;
}

#satelliteDisplay {
    color: whitesmoke;
}
